/*
Theme Name: LAGOMAGGIORE Homeland Child
Theme URI: http://themeforest.net/item/homeland-responsive-real-estate-wordpress-theme/6518965
Author: codeex
Author URI: http://themeforest.net/user/codeex
Description: A child theme of Homeland Theme
Template: homeland
Version: 2.1.3
*/

@import url("../homeland/style.css");
@import url("../homeland/responsive.css");
@import url("../homeland/js/caption/component.css");
@import url("../homeland/js/elastislide/elastislide.css");
@import url("../homeland/js/flexslider/flexslider.css");
@import url("../homeland/js/hover/component.css");
@import url("../homeland/js/search/component.css");
@import url("../homeland/js/selectbox/jquery.selectBox.css");
@import url("../homeland/js/superfish/superfish.css");
@import url("../homeland/js/touchTouch/touchTouch.css");
@import url("../homeland/js/video/video-js.css");

/* impostazioni homepage */
.typo_one-third {margin-right: 50px;}
.theme-fullwidth {padding: 30px 0;}
/* .blog-block {width: 325px;} */

/* altezza menu */
.theme-menu ul li a:link, .theme-menu ul li a:visited {padding: 41px 30px!important;}

.agent-block h3 span, .featured-block h3 span, .blog-block h3 span {font-weight: bold;}
footer { padding: 20px 0 0px; }

/* colore tasto + slider homepage */
.pactions a i {background: #a6171d; color: #fff !important;}
div.inside > div > div.pactions.clear > a > i {color: #fff !important;}

/* 
.footer-inside {float: right; font-weight: bold; color: #fff; border-top: none!important; padding: 14px 60px 14px 0!important; margin-top: -37px}

.widget-column .widget {margin: 0!important; }
*/

/* colore link */
.footer-widgets {margin-bottom: 0; background: #0b0e13;}
.footer-inside {padding: 14px 0; text-align: center; color: #fff;}
.widget-column { width: 320px!important; margin-right: 60px;}
.widget-column .last {margin: 0!important; }
#container-boxed > footer > section.footer-main > div > div > label > a:nth-child(2) {color: #fff;!important}

.sb-search-input, .call-info, .call-info .call-us, .call-info a.login, .sb-icon-search {border: none!important;}
/* .theme-pages {background: #F2F2F2;}   sfondo riquadri homepage */
.advance-search-block {padding: 30px 0 0px;}
.typo_one-fourth, .last {text-align: center;}
.home {margin-bottom: 0px!important;}
.theme-fullwidth {padding: 30px 0 0;}
a#toTop {top: 0px!important;}
.logo {padding-left: 3%; padding-top: 5px;}
#dropdown {padding-right: 18px;}

/* cornetta telefono verde in testata  e colore numeri telefono */
#container-boxed > header > section > div > div.call-info.clear > span > i {color: green; font-size: 16px;}
.call-us {font-weight: bold; color: #e0081f; font-size: 14px;}

/* colore voce attiva del menu */
.theme-menu ul li.current-menu-item a {color: white!important;}

/* colore tendine ricerca in testata homepage */
.selectBox-dropdown .selectBox-arrow {background: #445064!important;}
#searchform > ul > li.last > input[type="submit"] {border: 1px red solid;}

.typo_one-fourth {
float: left;
width: 23%;
margin-right: 28px;
margin-bottom: 30px;
}

span.riquadrohome {
  margin: 0 auto;
  width: 29%;
}

a.arancio {background: #37404f; color:#fff; display: inline-block;}
a.arancio:hover {background: #e0081f; color: #fff;}
a.arancio img{ width: 100%;}

.agent-info, #toTop {display: none!important;}

.agent-property-desc {border-bottom: none;}

/* altezza menu padding era 51 30 */
.theme-menu ul li a:link, .theme-menu ul li a:visited { padding: 30px 30px;}  
.coloreconti {background: #fff!important; width: 100%;}

/*togliere sottotitolo e ridurre spazio */
h4.subtitle {display:none!important;}
.header-bg {height: 180px; padding: 0px 0;}

/* nasconde tasti share social e barra caricamento slideshow testata */
.share, .tp-bannertimer {display: none;}

/* nasconde TITOLO PAGINA */
 .page-title-block-default {display: none;} 

.welcome-block { padding: 50px 0 10px 0;}

/* bordo campi dei form */
input, textarea {border: 1px grey solid;}
#wpcf7-f19-p58-o1 > form > p > span.wpcf7-form-control-wrap.richiesta > textarea {width: 93%;}


/* pagina contattaci larghezza form */
#wpcf7-f99-p22-o1 > form > p:nth-child(n) > span > input {width: 77%;}
#wpcf7-f99-p22-o1 > form > p:nth-child(n) > span > textarea {width: 77%;}

/* nascondere bagni nella barra di ricerca avanzata in testata e ridimensiona per fare stare su due righe */
#searchform > ul > li:nth-child(8) {display: none;} 
.selectBox-dropdown {width: 216px !important;}
#searchform > ul > li:nth-child(9) > a {width : 187px!important; }
#searchform > ul > li:nth-child(1) > input {width : 94px!important; } 
.advance-search-block ul li {margin-right: 28px!important;}

/* distanziare bottone vedi dettaglio */
.property-info-agent {padding-bottom: 35px;}

@media screen and (max-width:480px)
{
	.widget .widget_sp_image img, #widget_sp_image-2 > img {width: 80%;}
	.widget-column  {margin-bottom: 0px;}
	#widget_sp_image-3 > img {width: 80%;}
	.typo_one-fourth {width: 100%;}
	#wpcf7-f19-p58-o1 > form > p > span > input {margin: 6px 0;}
	#searchform > ul > li:nth-child(3) > a {width : 250px!important; }
	#searchform > ul > li:nth-child(9) > a {width : 250px!important; }
	.small .selectBox-label {width: 74% !important;}
}
