body{
	font: 14px/1.5 "Open Sans", Helvetica, Arial, sans-serif;
	padding: 40px;
}

ul{
	margin: 10px 0;
}

ul li{
	list-style-type: square;
}

figure{
	margin: 0;
	padding: 20px 0;
	text-align: center;
}

img{
	box-shadow: 2px 2px 5px #000
}

code{
	background-color: #ccc;
	border:1px solid #222;
	border-radius: 1px;
	padding:2px 4px;
}

code.wptable{
	color: white;
	background-color: #21759b;
}

div.sviluppatore{
	border: 1px solid #464646;
	background-color: #f2f2f2;
	padding: 0 10px;
	border-radius: 2px;
}

a{
	color: #d54e21;
	text-decoration: none; 
	border-bottom: 1px #d54e21 dashed;
}